<section class="vh-100" style="background-color: silver;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Log in</h3>
  
              <form #userForm="ngForm" (ngSubmit)="formSubmit()">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" required #email="ngModel" 
                    [class.is-invalid]="email.invalid && email.touched" class="form-control" name="username" [(ngModel)]="loginData.email">
                     <small class="text-danger" [class.d-none]="email.valid || email.untouched" >Email is required</small>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" required #password="ngModel" 
                    [class.is-invalid]="password.invalid && password.touched" class="form-control" name="password" [(ngModel)]="loginData.password">
                     <small class="text-danger" [class.d-none]="password.valid || password.untouched" >Password is required</small>
                     
                </div>
                <div class="text-right">
                    <a style="color: blue;" href="Register" routerLink="/register">Forget Password ?</a>
                </div>
                <div class="text-center mt-3">
                    <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Login</button>
                    <a href="Register"  style="margin-left: 10px;"><button  class="btn btn-primary" routerLink="/register">Sign Up</button></a>
                  </div> 
                
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>