
   
  
    <div class="sidenav">
      <a href="about">About us</a>
      <hr>
      <a href="guests">Guest Details</a>
      <hr>
      <a href="create-guest">Add Guest</a>
      <hr>
      <a href="reserve">Reservation Details</a>
      <hr>
      <a href="addreserve">Add Reservation</a>
      <hr>
      <a href="room">Room Details</a>
      <hr>
      <a href="create-room">Add Room</a>
      <hr>
      <a href="search-room">Search Rooms</a>
    <hr>
    
    </div>
    <hr  style="color:black;">
    <button (click) = "log()" class = "btn btn-info" style="margin-left: 1090px;" > Logout</button>
    <h1>Welcome Receptionist</h1>
    <hr  style="color:black;">
    <img src="../../assets/images/img7.jpg" alt="no img" class="center">
    
    

   
