
<div id="mySidenav" class="sidenav">
 
  
    <a href="reserve" id="reserve">Reserve Details</a>
 

  </div>
<div class="col-md-6 offset-md-3">
    <h1> Guest Reservation </h1>
    
    <form (ngSubmit) = "onSubmit()">
        

        <div class="form-group">
            <label style="color:aqua;"> Id:</label>
            <input type="text" class ="form-control" id = "code"
                [(ngModel)] ="reserve.id" name ="code">
        </div>
        <div class="form-group">
            <label style="color:aqua;">Number_of_Adults:</label>
            <input type="text" class ="form-control" id = "no_of_Adult"
                [(ngModel)] = "reserve.no_of_Adult" name = "no_of_Adult">
        </div>

        <div class="form-group">
            <label style="color:aqua;"> Number_of_Children:</label>
            <input type="text" class ="form-control" id = "no_of_child"
            [(ngModel)] = "reserve.no_of_child" name = "no_of_child">
        </div>

     
        <div class="form-group">
            <label style="color:aqua;">Check_in_date:</label>
          
            <input type="date" class ="form-control" id = "check_in_date"
                [(ngModel)] = "reserve.check_in_date" name = "check_in_date">
        </div>
    
        <div class="form-group">
            <label style="color:aqua;">checkout_date:</label>
            <input type="date" class ="form-control" id = "checkout_date"
                [(ngModel)] = "reserve.checkout_date" name = "checkout_date">
        </div>
    
        <div class="form-group">
            <label style="color:aqua;"> Status:</label>
            <input type="text" class ="form-control" id = "Status"
                [(ngModel)] = "reserve.status" name = "Status">
        </div>
        <div class="form-group">
            <label style="color:aqua;"> Number_of_Nights:</label>
            <input type="text" class ="form-control" id = "Number_of_Nights"
                [(ngModel)] = "reserve.number_of_Nights" name = "Number_of_Nights">
        </div>
        <hr>
        <button style="margin-left:250px;" class = "btn btn-success"  type ="submit">Submit</button>
    
    </form>
    </div> 
