
<!--<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <ul class="navbar-nav ml-auto"> 
    
    <li class = "nav-item">



      <a routerLink="home" routerLinkActive="active" class="nav-link" >HomePage </a>
      </li>
        <li class = "nav-item">-->

<!--
        <a href="about" class="list-group-item list-group-item-action py-2 ripple ">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>About us</span>
        </a>-->
       
        
      <!--
      <li class = "nav-item">
          <a routerLink="guests" routerLinkActive="active" class="nav-link" >Guest List</a>
          
      </li>
      <li class = "nav-item">
        <a routerLink="create-guest" routerLinkActive="active" class="nav-link" >Add Guest </a>
        
    </li>
   
      <li class = "nav-item">
        <a routerLink="reserve" routerLinkActive="active" class="nav-link" >Reservation List </a>
      
  </li>

<li class = "nav-item">
  <a routerLink="addreserve" routerLinkActive="active" class="nav-link" >Add Reservation </a>
  
</li>
<li class = "nav-item">
  <a routerLink="staff" routerLinkActive="active" class="nav-link" >Staff Details </a>
  
  <li class = "nav-item">
    <a routerLink="create-staff" routerLinkActive="active" class="nav-link" >Add Staff </a>
    
  </li>

<li class = "nav-item">
  <a routerLink="login" routerLinkActive="active" class="nav-link" >Login </a>
  
</li>

<li class = "nav-item">
  <a routerLink="Register" routerLinkActive="active" class="nav-link" >Register </a>
  
</li>
     
  </ul>
</nav>
-->

  <div class ="container">
  <router-outlet></router-outlet>
  
  </div>
  




 
