h1
{
    color:aqua;
    text-align:center;
}
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #staff
{
  top: 60px;
  background-color: #2bbaa5
}
  #mySidenav a:hover {
    left: 0;
  }