<!--
    <h1> Online Hotel Management System</h1>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-blue">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
        
          <a href="guests" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-lock fa-fw me-3"></i><span>Guest-Details</span></a
          >
          <a href="create-guest" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-line fa-fw me-3"></i><span>Add Guest</span></a
          >
          <a href="reserve" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Reservation-Details</span>
          </a>
          <a href="addreserve" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Add Reservation</span></a
          >
          <a href="staff" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-globe fa-fw me-3"></i><span>Staff-Details</span></a
          >
          <a href="create-staff" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span>Add Staff</span></a>
            <a href="room" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span>Room-details</span></a>
            <a href="create-room" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span>Add Rooms</span></a>
            <a href="payment" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span>Payment-details</span></a>
            <a href="create-payment" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span>Add Payment</span></a>

            <a href="search-room" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span>searchRooms</span></a>

            <button (click) = "log()" class = "btn btn-info"> Logout</button>
      </div>
      </div>
    </nav>
 </header>
-->
    <!-- Sidebar -->
   

   
<!--<!DOCTYPE html>    
<html>    
<head>   
<link rel="stylesheet" href="home.component.css">
</head>    
<body>    
    <div id="container">    
<h1>Online Hotel Management System</h1>
    </div>
</body>    
</html>  -->







<div class="sidenav">
  <a href="about">About us</a>
  <hr>
  <a href="guests">Guest Details</a>
  <hr>
  <a href="create-guest">Add Guest</a>
  <hr>
  <a href="staff">Staff Details</a>
  <hr>
  <a href="create-staff">Add Staff</a>
  <hr>
  <a href="reserve">Reservation Details</a>
  <hr>
  <a href="addreserve">Add Reservation</a>
  <hr>
  <a href="room">Room Details</a>
  <hr>
  <a href="create-room">Add Room</a>
  <hr>
  <a href="payment">Payment Details</a>
  <hr>
  <a href="create-payment">Add Payment</a>
  <hr>
  <a href="search-room">Search Rooms</a>
  <hr>
  
  
  
  
</div>
<hr  style="color:black;">
<button (click) = "log()" class = "btn btn-info" style="margin-left: 1090px;" > Logout</button>
<h1>Online Hotel Management System</h1>
<hr  style="color:black;">
<img src="../../assets/images/img5.jpg" alt="no img" class="center">

